<div class="admin-container">
  <!-- Menú lateral -->
  <aside class="sidebar">
    <h2>Panel de Administración</h2>
    <ul>
      <button class="logout-btn" (click)="logout()">Cerrar Sesión</button>
      <li><a routerLink="resumen-admin" routerLinkActive="active">📊 Resumen</a></li>
      <li><a routerLink="users-admin" routerLinkActive="active">👤 Usuarios</a></li>
      <li><a routerLink="courses-admin" routerLinkActive="active">📚 Cursos</a></li>
      <li><a routerLink="analytics-admin" routerLinkActive="active">📈 Analíticas</a></li>
      <li><a routerLink="reports-admin" routerLinkActive="active">📋 Reportes</a></li>
    </ul>
  </aside>

  <!-- Contenido principal -->
  <main class="main-content">
    <div class="header">
      <h1>Panel de Administración</h1>
      <div class="actions">
        <button class="export-btn">Exportar datos</button>
        <button class="new-course-btn">+ Nuevo curso</button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </main>
</div>