<mat-toolbar color="primary">
  <mat-icon class="h-6 w-6 text-primary">memory</mat-icon>
  <span>Capacitación 5.0</span>

  <div class="nav-links">
    <button mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</button>
    <button mat-button routerLink="/capacitacion" routerLinkActive="active-link">Capacitación</button>
    <button mat-button routerLink="/tecnologia" routerLinkActive="active-link">Tecnología</button>
    <button mat-button routerLink="/about" routerLinkActive="active-link">Nosotros</button>
    <button mat-button routerLink="/benefits" routerLinkActive="active-link">Beneficios</button>
    <button mat-button routerLink="/contact" routerLinkActive="active-link">Contacto</button>
    <button mat-button routerLink="/iniciar-sesion" routerLinkActive="active-link">iniciar sesion</button>

  </div>
</mat-toolbar>